:root{
    --Principal:var(#3DC446);
    --Secundario:var(#82F04A);
    --Terciario:var(#4AF08E);
    --Cuarto:var(#4af0c6);
    --Terciario:var(#3DC4);
    --Blanco:var(#fff);
    --Negro:var(#000);
    --FuenteP:var(font-family: 'Montserrat', sans-serif;);
}

/*GLOBALES*/

html{
    font-size: 62.5%;
    box-sizing: border-box;
    
}
*, *:before, *:after { 
        box-sizing: inherit; 
    }

span{
    color: #3DC446;
}

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top,white,)
}

p{
    text-align: justify;
}

/*CABEZA*/

.header-nav{
    display: flex;
    font-size: 2rem;
    justify-content: end;
    padding-bottom: 2rem;
    margin-right: 2rem;
}
.header-img{
    margin-top: 2rem;
    display: flex;
    height: 6rem;
    font-size: 1.2rem;
    margin-left: 2rem;
    } 

nav a{
    padding: 0 1rem;
    text-decoration: none;
    font-weight: bold;
    color: grey;
}

hr{
    margin-top: rem;
    margin-bottom: 5rem;
}

#nosotros{
    background-color: #3DC446;
    border-radius: 1rem;
    color: white;
}

#img-nosotros{
    width: 70rem;
    margin-left: 20rem;
}

/*MAIN*/

.contenedor{
    max-width: 110rem; /**CREO QUE ES PARA AJUSTAR LA BARRA DE NAVEGACION AL CENTRO**/
    margin: 0 auto;
}

.sombra{
    box-shadow: 0px 5px 15px 0px rgba(71,71,71,0.61);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 0.5rem;
}

/*FORMULARIO*/



/*FOOTER*/
footer{
    background-color: grey;
    width: 100%;
    height: 15rem;
    border-radius:0.5rem;
    margin-top: 1rem;
}

.contenido-svg{
    margin-left: 7rem;
    margin-top: 5rem;   
}

.contenido-svg p{
    margin-top: -1rem;
    text-align: center;
}

.contenido-svg svg{
    margin-left:5rem ;
}

.contenido-footer{
display: flex;
}
footer p{
    padding: 1rem 1rem;
    color: white;
}

/**RESPONSIVE**/

@media (max-width:768px ){
    .header-nav{
        padding: 3rem 0;
        justify-content: center;
    }
    .header-img{
        justify-content: center;
        margin-top: 2rem;
        }
    .contenido-article{
        flex-direction: column;
    }
    .contenido-footer{
        flex-direction: column;
    }
    footer{
        height: 45rem;
    }
    .contenido-svg{
        margin: 0;
        padding: 0;
    }

    .contenido-svg p{
        margin-right: 25rem;
    }

    #img-nosotros{
        width: 40rem;
        margin-right: rem;
    }
}



